main{
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.colors{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: none;
    padding: 10px;
    border-radius: 8px;
}